@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.container-30px {
    margin-left: 30px;
}

.nowrap th {
  white-space: nowrap;
}

.ellipsis th {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.revive-link {
    background-color: rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
}

button.revive-link:hover {
    background-color: rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
}

a.revive-link {
    color: rgb(26, 188, 156);
}

.container.page{
    margin-top: 0;
}

div.row {
    margin-top: 8px;
}

td.revive-date button {
    text-decoration: underline;
}

td.revive-date button:hover {
    background-color: lightgray;
    border-radius: 0.25em;
}

.grid-container-main {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 40px;
}

.grid-container-selector {
    display: grid;
    grid-template-columns: 8fr 16fr;
    grid-gap: 8px;
}

.grid-child-selector {
    margin-top: auto;
    margin-bottom: auto;
}

.grid-container-tables-2 {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-gap: 10px;
}

.grid-container-tables-3 {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-gap: 10px;
}

.grid-container-tables-4 {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 10px;
}

.grid-container-detail {
    display: grid;
}

.grid-child-detail {
    padding-right: 10px;
}
